<!-- Media Section -->
<div id="media" class="" style="overflow: hidden;">

  <div class="container-fluid">

    <div class="row d-flex flex-column">

      <div class="align-self-center">
        <p class="font-grey phead">In The Media</p>
        <p class="font-grey ptrail">As seen on.</p>
      </div>

      <form class="greybg form-inline" style="justify-content:space-evenly">
        <div class="card"
          style="padding-left: 40px;padding-right:40px;width: 20rem;background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;">
          <img src="assets/images/Media/SBS_logo.svg.png" class="card-img-top" alt="pitch video">
        </div>

        <div class="card"
          style="padding-left: 40px;justify-content:between;padding-right:40px;width: 20rem;background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;">
          <img src="assets/images/Media/abc-logo-png-5.png" class="card-img-top" alt="pitch video">
        </div>

        <div class="card"
          style="padding-left: 40px;justify-content:between;padding-right:40px;width: 20rem;background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;">
          <img src="assets/images/Media/1459697185_sky-news-logo.png" class="card-img-top" alt="pitch video">
        </div>

        <div class="card"
          style="padding-left: 40px;justify-content:between;padding-right:40px;width: 20rem;background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;">
          <img src="assets/images/Media/nbc-news-logo.png" class="card-img-top" alt="pitch video">
        </div>

        <div class="card"
          style="padding-left: 40px;justify-content:between;padding-right:40px;width: 20rem;background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;">
          <img src="assets/images/Media/LOGO_theadvertiser.png" class="card-img-top" alt="pitch video">
        </div>
      </form>

    </div>

  </div>

</div>