<!-- Header Section -->

<div id="header" class="mock-grad" style="overflow:hidden;">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-6 col-sm-12 flex-column align-self-center mockup-text" style="padding: 30px;">

        <div class="ctxt">
          <p style="font-family: Linotte-SemiBold;">The Only Health Platform You Will Ever Need To Maintain <br> Your
            Health And Well Being For Free.</p>
        </div>

        <div style="display: inline-flex;width: 100%;justify-content: center;">
          <div class="ms-50" style="z-index: 1;">
            <a href="#"><button type="button" class="btn rounded-pill btngreen btnstyle"
                style="font-family: Linotte-SemiBold;">Try Us</button></a>
          </div>
          <div style="z-index: 1;">
            <a href="#contact"><button type="button" class="btn rounded-pill btnred btnstyle"
                style="font-family: Linotte-SemiBold;">Join Us</button></a>
          </div>
        </div>

      </div>

      <div class="col-md-6 col-sm-12 mockup-img">
        <img src="assets/images/header/applify-mockup.png" alt="mockup" style="width:95%;">
      </div>

    </div>

  </div>

</div>

<div style="position: relative;">

  <div class="plane" style="position: absolute;z-index: 0;">

    <div class="col-md-6 col-sm-12">
      <lottie-player class="anim" slot="end" animType="svg" autoplay prerender loop src="assets/animation/data.json">
      </lottie-player>
    </div>

  </div>
</div>