<!-- Our Footer Section -->
<div style="background-color: #2d3136;">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12 d-flex flex-column">
        <div class="align-self-center" style="width: 60px;margin-top: 40px;margin-bottom: 20px;">
          <img src="assets/images/header/medclick logo-01.png" class="card-img-top" alt="footer-logo">
        </div>

        <div style="text-align: center;margin-bottom: 40px;">
          <p class="font-white" style="font-family: Segoe;font-size: 16px;">Improving Health Care With Artificial
            Intelligence <br> Human Intelligence & Blockchain Technology</p>
        </div>

        <div class="row" style="margin-right: 30%;margin-left: 30%;">
          <div class="col-lg-8">
            <div class="row" style="text-align: start;">

              <div class="col-lg-6" style="margin-bottom: 20px;">
                <a style="color: white;font-family: Nunito Regular;font-size: 12px;" href="">About us</a>
              </div>

              <div class="col-lg-6" style="margin-bottom: 20px;">
                <a style="color: white;font-family: Nunito Regular;font-size: 12px;" href="#service">Services</a>
              </div>

              <div class="col-lg-6" style="margin-bottom: 20px;">
                <a style="color: white;font-family: Nunito Regular;font-size: 12px;" href="">Terms & Conditions</a>
              </div>

              <div class="col-lg-6 row" style="display: inline-flex;">
                <a clas="col-sm-12" style="color: white;font-family: Nunito Regular;font-size: 12px;margin-left: 15px;"
                  href="https://www.linkedin.com/company/medclickdotcom/jobs">Careers</a>
                <div style="text-align: center;">
                  <p class="btngreen rounded-pill col-sm-12"
                    style=" margin-left:10px;padding:1px 10px 1px 10px;color: white;font-family: Nunito Regular;font-size: 12px;font-style: italic;"
                    >we're hiring</p>
                </div>
              </div>

              <div class="col-lg-6" style="margin-bottom: 20px;">
                <a style="color: white;font-family: Nunito Regular;font-size: 12px;" href="">Privacy & Policy</a>
              </div>

              <div class="col-lg-6" style="margin-bottom: 20px;">
                <a href="https://medium.com/@medclick.com"
                  style="color: white;font-family: Nunito Regular;font-size: 12px;">Blog</a>
              </div>

            </div>
          </div>

          <div class="col-lg-4">
            <p
              style="text-align: center;color: white;margin-bottom: 0px;font-family: Nunito;font-style: italic;font-size: 11px;">
              COMING SOON</p>

            <div style="text-align: center">
              <div class="col-lg-6" style="padding-left: 0px;padding-right: 0px;display: contents;">
                <img src="assets/images/footer/apple-01.png" href="" alt="apple" style="width: 50px;">
              </div>

              <div class="col-lg-6" style="padding-left: 0px;padding-right: 0px;display: contents;">
                <img src="assets/images/footer/play store-01.png" href="" alt="play-store" style="width: 50px;">
              </div>
            </div>

            <p
              style="text-align: center;color: white;margin-bottom: 0px;font-family: Nunito;font-style: italic;font-size: 11px;">
              FOLLOW US</p>

            <div style="justify-content: center;display: inline-flex;width: 100%;">

              <div class="col-lg-2 col-md-2 col-sm-2" style="padding-left: 0;padding-right: 0;">
                <a href="https://www.facebook.com/medclick.com.au" target="blank"><img class="footericons"
                    src="assets/images/footer/icon1.png" alt="fbicon"></a>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-2" style="padding-left: 0;padding-right: 0;">
                <a href="https://www.instagram.com/medclick_au/" target="blank"><img class="footericons"
                    src="assets/images/footer/icon2.png" alt="instagram"></a>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-2" style="padding-left: 0;padding-right: 0;">
                <a href="https://twitter.com/medclick_Au" target="blank"><img class="footericons"
                    src="assets/images/footer/icon3.png" alt="twiticon"></a>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-2" style="padding-left: 0;padding-right: 0;">
                <a href="https://www.linkedin.com/company/medclickdotcom" target="blank"><img class="footericons"
                    src="assets/images/footer/icon4.png" alt="linkedin"></a>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-2" style="padding-left: 0;padding-right: 0;">
                <a href="https://medium.com/@medclick.com" target="blank"><img class="footericons"
                    src="assets/images/footer/icon5.png" alt="medium"></a>
              </div>
            </div>

          </div>
        </div>

        <div class="align-self-center" style="width: 90px;margin-bottom: 0px;">
          <img src="assets/images/footer/South Australia-01-01.png" class="card-img-top" alt="SA logo">
        </div>

        <div style="text-align: center;">
          <p class="font-white" style="margin-top: 0px;font-family: Nunito Regular;font-size: 12px;">Made With <i
              class="fas fa-heart" style="color: red;"></i> In South Australia </p>
          <p class="font-white"
            style="margin-top: 0px;margin-bottom: 40px;font-family: Nunito Regular;font-size: 12px;">&copy; medclick
            2020. All rights reserved.</p>
        </div>
      </div>

    </div>

  </div>

</div>