<!-- Our Contact Section -->

<div id="contact" class="" style="overflow: hidden;">

  <div class="container-fluid">

    <div class="row" style="background-color:#f6f6f6;">

      <div class="col-md-6 col-sm-12">

        <div style="font-size: xx-large;margin-top: 80px;margin-left: 20px;">
          <p class="font-grey" style="font-family: Linotte-SemiBold;font-size: 40px;">Sent Us All Your Queries</p>
        </div>

        <div style="margin-bottom: 40px;margin-left: 20px;">
          <p class="font-grey" style="font-family: Segoe;font-size: 20px;">If you would like to know more about the
            product or want to form a partnership,<br>
            please dont hesitate to contact us. We will get back to you within 24 hours.</p>
        </div>

        <div class="col-sm-12">
          <input type="text" class="form-control gray" name="Name"
            style="background-color:#dbdbdb;border-radius: 15px;height: 60px;margin-bottom: 30px;"
            placeholder="Your Name *" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>

        <div class="col-row-12 form-inline">
          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control gray" name="Email"
              style="background-color:#dbdbdb;border-radius: 15px;height: 60px;margin-bottom: 30px;width: 100%;"
              placeholder="Email Address *" aria-label="Recipient's username" aria-describedby="button-addon2">
          </div>

          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control gray" name="Phone"
              style="background-color:#dbdbdb;border-radius: 15px;height: 60px;margin-bottom: 30px;width: 100%;"
              placeholder="Phone *" aria-label="Recipient's username" aria-describedby="button-addon2">
          </div>
        </div>

        <div class="col-sm-12">
          <textarea type="text" class="form-control gray" name="Message"
            style="background-color:#dbdbdb;border-radius: 15px;height: 60px;margin-bottom: 30px;"
            placeholder="Your Message *" aria-label="Recipient's username" rows="4" cols="50"
            aria-describedby="button-addon2"></textarea>
        </div>

        <div class="col-sm-12">
          <button class="btn btn-outline-secondary input-group-append col-sm-12" type="submit" value="SubmitContact"
            style="justify-content: center;font-size: 31px;border-color:transparent;background-color: #7795fe;height:60px;color: white;border-radius: 150px;margin-bottom: 80px;font-family: Segoe;"
            type="button" id="button-addon2">
            SUBMIT
          </button>
        </div>

      </div>

      <div class="col-md-6 col-sm-12">

        <div style="background-color: #7795fe;
            border-radius: 15px; border-color:transparent; margin-top: 80px;    
            margin-bottom: 80px; padding-left:30px;padding-right:30px;margin-right: 20px;margin-left: 20px;">

          <div style="font-size: xx-large;padding-top: 40px;">
            <p class="font-white" style="font-family: Segoe ;font-size: 40px;">Contact Info</p>
          </div>

          <div style="display: flex;align-items: center;padding-top: 20px;">
            <img src="assets/images/message part/clock-01.png" class="rounded mr-2" alt="..." style="width: 70px;">
            <strong class="font-white" style="font-family: Segoe;font-size: 20px;">Mon-Fri 8:00-19:00</strong>
          </div>

          <div style="display: flex;align-items: center;padding-top: 20px;">
            <img src="assets/images/message part/phone-01.png" class="rounded mr-2" alt="..." style="width: 70px;">
            <strong class="font-white" style="font-family: Segoe;font-size: 20px;">+ 61401535095</strong>
          </div>

          <div style="display: flex;align-items: center;padding-top: 20px;">
            <img src="assets/images/message part/message-01.png" class="rounded mr-2" alt="..." style="width: 70px;">
            <strong class="font-white" style="font-family: Segoe;font-size: 20px;"> hello@medclick.com</strong>
          </div>

          <div style="display: flex;align-items: center;padding-top: 20px;padding-bottom: 50px;">
            <img src="assets/images/message part/location-01.png" class="rounded mr-2" alt="..." style="width: 70px;">
            <strong class="font-white" style="font-family: Segoe;font-size: 20px;">level 2,1284 South Road, Tonsley
              South Australia 5042</strong>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>