<!-- Pitch Section -->
<div id="pitch" style="overflow: hidden;">

  <div class="container">

    <div class="row d-flex flex-column">

      <div class="align-self-center">
        <p class="font-grey phead">Learn More About The Medclick Experience</p>
        <p class="font-grey ptrail">Its only a five minute pitch...</p>
      </div>

      <div class="align-self-center " style="width: 45rem; max-width: 100%;margin-bottom: 40px;">
        <img src="assets/images/video/video Image-01.png" class="card-img-top" alt="pitch video">

        <!-- <video width="640" height="480" controls autoplay>
          <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>  -->

      </div>

    </div>

  </div>

</div>