<!-- Partners Section -->

<div id="partners" class="" style="overflow: hidden;">

  <div class="container">

    <div class="row">

      <div class="col-sm -12">

        <div class="align-self-center">
          <p class="font-grey phead">Our Partners</p>
          <p class="font-grey ptrail" style="text-align: center;">Interested to become our partner? Join us.</p>
        </div>

        <div class="row">

          <div class="card col-lg-3 col-md-6 col-sm-12"
            style="background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;justify-content: center;align-items: center;">
            <img src="assets/images/our partner/Untitled-design-14.jpg" class="card-img-top" style="width: 25rem;"
              alt="pitch video">
          </div>

          <div class="card col-lg-3 col-md-6 col-sm-12"
            style="background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;justify-content: center;align-items: center;">
            <img src="assets/images/our partner/download-1.jpg" class="card-img-top" style="width: 10rem;"
              alt="pitch video">
          </div>

          <div class="card col-lg-3 col-md-6 col-sm-12"
            style="background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;justify-content: center;align-items: center;">
            <img src="assets/images/our partner/51cxLxiWLbL.jpg" class="card-img-top" style="width: 15rem;"
              alt="pitch video">
          </div>

          <div class="card col-lg-3 col-md-6 col-sm-12"
            style="background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;justify-content: center;align-items: center;">
            <img src="assets/images/our partner/download.jpg" class="card-img-top" style="width: 15rem;"
              alt="pitch video">
          </div>

          <div class="card col-lg-3 col-md-6 col-sm-12"
            style="background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;justify-content: center;align-items: center;">
            <img src="assets/images/our partner/bupa.jpg" class="card-img-top" style="width: 15rem;" alt="pitch video">
          </div>

          <div class="card col-lg-3 col-md-6 col-sm-12"
            style="background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;justify-content: center;align-items: center;">
            <img src="assets/images/our partner/download (2).jpg" class="card-img-top" style="width: 15rem;"
              alt="pitch video">
          </div>

          <div class="card col-lg-3 col-md-6 col-sm-12"
            style="background-color: transparent;margin-top:10px;margin-bottom: 10px;border: none;justify-content: center;align-items: center;">
            <img src="assets/images/our partner/nib.jpg" class="card-img-top" style="width: 15rem;" alt="pitch video">
          </div>

        </div>

      </div>



    </div>

  </div>

</div>