<!-- Pitch Section goes here -->
<app-navbar></app-navbar>

<!-- Navbar goes here -->
<app-header></app-header>

<!-- SocialMedia Section goes here -->
<app-social-media></app-social-media>

<!-- Pitch Section goes here -->
<app-pitch></app-pitch>

<!-- Promise Section goes here -->
<app-promise></app-promise>

<!-- Services Section goes here -->
<app-services></app-services>

<!-- Partners Section goes here -->
<app-partners></app-partners>

<!-- Media Section goes here -->
<app-media></app-media>

<!-- Blog Section goes here -->
<app-blog></app-blog>

<!-- Contact Us Section goes here -->
<app-contact-us></app-contact-us>

<!-- Map Section goes here -->
<app-map></app-map>

<!-- Subscribe Section goes here -->
<app-subscribe></app-subscribe>
    
<!-- Footer goes here -->     
<app-footer></app-footer>