<!-- Our Promise Section -->
<div id="promise" class="grad" style="overflow: hidden;">

  <div class="container-fluid">

    <div class="row d-flex flex-column">

      <div class="align-self-center">
        <p class="font-white phead">Our Promise</p>
        <p class="font-white ptrail">We are different & we guarantee that...</p>
      </div>

      <div class="d-flex flex-row row justify-content-between lg-12">

        <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:20px;padding-right:20px;margin-bottom:40px;">
          <div class="card"
            style="padding-left: 40px;padding-right:40px;width: 20rem;background-color: transparent;margin-bottom: 40px;border: none;">
            <div class="security">
              <lottie-player slot="end" autoplay loop prerender src="assets/animation/security.json">
              </lottie-player>
            </div>
          </div>
          <div style="padding-left: 10px;padding-top: 80px;">
            <p class="font-white" style="font-weight: bold;font-family: Segoe UI;font-size: 20px;">Safety of your data
              is our top priority</p>
            <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
              <i class="fas fa-check" style="padding-right: 10px;"></i>
              <p class="font-white" style="font-family:Segoe;font-size: 18px;">All data is secured with blockchain</p>
            </div>
            <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
              <i class="fas fa-check" style="padding-right: 10px;"></i>
              <p class="font-white" style="font-family:Segoe;font-size: 18px;">Regular automated data backups </p>
            </div>
            <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
              <i class="fas fa-check" style="padding-right: 10px;"></i>
              <p class="font-white" style="font-family:Segoe;font-size: 18px;">Stringent data privacy policy</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12"
          style="padding-left:20px;padding-right:20px;border-left:3px dashed #fff;height:500px;margin-bottom:40px;">
          <div class="card"
            style="padding-left: 80px;width: 20rem;background-color: transparent;margin-bottom: 40px;border: none;border-left: white;">
            <div class="locker">
              <lottie-player slot="end" autoplay loop prerender src="assets/animation/locker.json">
              </lottie-player>
            </div>
          </div>

          <div style="padding-left: 10px;padding-top: 80px;">
            <p class="font-white" style="font-weight: bold;font-family: Segoe UI;font-size: 20px;">All your medical
              records</p>
            <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
              <i class="fas fa-check" style="padding-right: 10px;"></i>
              <p style="font-family:Segoe;font-size: 18px;">Access your records across 35000+ centers</p>
            </div>
            <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
              <i class="fas fa-check" style="padding-right: 10px;"></i>
              <p style="font-family:Segoe;font-size: 18px;">In one secure app. 256-bit end to end encryption</p>
            </div>
            <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
              <i class="fas fa-check" style="padding-right: 10px;"></i>
              <p style="font-family:Segoe;font-size: 18px;">Records are accessible only by you</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12"
          style="padding-left:20px;padding-right:20px;border-left:3px dashed #fff;height:500px;margin-bottom:40px;">
          <div class="card"
            style="padding-left: 80px;width: 20rem;background-color: transparent;margin-bottom: 40px;border: none;">
            <div class="chat">
              <lottie-player slot="end" autoplay loop prerender src="assets/animation/chat.json">
              </lottie-player>
            </div>
          </div>

          <div style="padding-left: 10px;padding-top: 70px;">
            <p class="font-white" style="font-weight: bold;font-family: Segoe UI;font-size: 20px;">Skip the waiting
              room</p>
                <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
                  <i class="fas fa-check" style="padding-right: 10px;"></i>
                  <p style="font-family:Segoe;font-size: 18px;">Bulk billed</p>
                </div>
                <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
                  <i class="fas fa-check" style="padding-right: 10px;"></i>
                  <p style="font-family:Segoe;font-size: 18px;">Verified doctors respond in 5 minutes</p>
                </div>
                <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
                  <i class="fas fa-check" style="padding-right: 10px;"></i>
                  <p style="font-family:Segoe;font-size: 18px;">100% Private and confidential</p>
                </div>             
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12"
          style="padding-left:20px;padding-right:20px;border-left:3px dashed #fff;height:500px;margin-bottom:40px;">
          <div class="card"
            style="padding-left: 80px;width: 19rem;background-color: transparent;margin-bottom: 40px;border: none;">
            <div class="drone">
              <lottie-player slot="end" autoplay loop prerender src="assets/animation/drone.json">
              </lottie-player>
            </div>
          </div>

          <div style="padding-left: 10px;padding-top: 90px;">
            <p class="font-white" style="font-weight: bold;font-family: Segoe UI;font-size: 20px;">Get all your
              medicines. Every time. Ontime.</p>
              <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
                <i class="fas fa-check" style="padding-right: 10px;"></i>
                <p style="font-family:Segoe;font-size: 18px;">Guaranteed availability</p>
              </div>
              <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
                <i class="fas fa-check" style="padding-right: 10px;"></i>
                <p style="font-family:Segoe;font-size: 18px;">Over 130,000+ genuine medicines</p>
              </div>
              <div class="font-white col-sm-12" style="display: inline-flex;align-items: baseline;">
                <i class="fas fa-check" style="padding-right: 10px;"></i>
                <p style="font-family:Segoe;font-size: 18px;">Home delivery in 1 hr</p>
              </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>