<!-- Our Services Section -->
<div id="service" style="overflow: hidden;">

  <div class="container-fluid">

    <div class="row d-flex flex-column">

      <div class="align-self-center">
        <p class="font-grey phead">Under The Hood</p>
        <p class="font-grey ptrail">Checkout the medclick features in depth...</p>
      </div>

      <div class="d-flex row" style="margin-left: 15vw;margin-right: 15vw;">

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Book Appointment-01.png" class=" rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Book Appointment</strong>
          </div>
          <p class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Quickly book appointments with clinics, doctors, specialists, vetenarians, allied health professionals,
            caretakers and much more with ease.
          </p>

        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Laboratory Tests & Checkup-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Laboratory Tests &
              Checkup</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Book in for a complete body checkup or specific pathology tests. Whatever you need, get it quickly done
            through medclick.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Order Medicines-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Order Medicines</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Order medicines or a refill at a discounted price than your local chemist, & let us deliver it at your
            convenience within 1 hour.
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Online Consultation-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Online Consultation</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Consult with your doctor from your phone from any part of the world with an estimated waiting period of just
            under 5 minutes.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Pills Reminder-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Pills Reminder</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Don't put yourself or your loved ones at risk by missing a dosage or taking a double dose because nobody
            tracked.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Pills Identifier-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Pills Identifier</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Having trouble identifying prescription, OTC, generic, and brand name pills and capsules? Quickly identify
            drugs & medications with ease.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Female Periods Checker-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Ovulation Calendar</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Keep track of your menstrual cycle with this diary to predict, ovulation and chance of conception and menstrual period.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/sperm-01.png" class="rounded mr-2" alt="..." style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Sperm Counter</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Test your sperm count with our sperm test kit.Check out the percentage of your normal motile sperms with a
            normal healthy range.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Symptoms Checker-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Symptoms Checker</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Check your symptoms and find out what could be causing them. It's fast, free and fully anonymous.Let our
            advanced A.I answer your doubts.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Manage Health Insurance-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Manage Health Insurance</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Make an extras claim, manage your health and membership benefits or find your nearest members first network
            providers, hospitals on the move.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Sleep Quality Checker-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Sleep Quality Checker</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Track sleep from bedtime to morning, and get detailed analysis with the app that makes waking up in the
            morning just that bit easier.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Medicines Tracker-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Medicines Tracker</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Use the medclick app to verify that your medicines are genuine and report any suspected counterfeit or
            diverted products that you come across.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Medical Research Participation-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Medical Research
              Participation</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Are you looking for paid clinical trials ? Do you want to help in the development of new medicines? If your
            answer is ‘yes', then this module is for you.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Medical Tourism-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Medical Tourism</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            We strive to connect patients to high-quality medical care around the world . Enjoy top quality health care
            while you are on a vacation.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Access N.G.O-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Access N.G.O</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Our health NGO module connects help seekers, donors, volunteers with various health NGO’s from around the
            world within the app.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Residential Care Support-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Residential Care
              Support</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            We work with families to help find the best Aged Care options for their loved ones. We provide a
            personalized service with no fee to the family.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Blood Donation-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Blood Donation</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            The main purpose of the blood line module is to create & manage a platform for all blood donors around the
            world and to reduce the blood crisis.
          </div>
        </div>

        <div class="d-block col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px;margin-bottom: 80px;">
          <div style="display: flex;align-items: center;">
            <img src="assets/images/Under the hood/Support Groups-01.png" class="rounded mr-2" alt="..."
              style="width: 70px;">
            <strong class="font-grey" style="font-family: Nunito Semi;font-size: 18px;">Support Groups</strong>
          </div>
          <div class="font-grey ml-4" style="font-family: Segoe;font-size: 16px;">
            Get connected and support from peers who understand your health conditions. Get motivated with Gratitude
            posts and more.
          </div>
        </div>

      </div>

      <div style="text-align: center;z-index: 1;margin-bottom: 40px;">
        <form class="form-inline" style="display: inline-flex;">
          <div style="margin-right: 20px;">
            <button type="button" class="btn btnblue btnstyle2"
              style="color: white;font-family: Nunito Semi;font-size: 14px;">Signup As Beta User</button>
          </div>
          <div>
            <a href="#contact"><button type="button" class="btn btn-outline-blue btnstyle2"
                style="outline-color: #3e9ffe;color: #3e9ffe;font-family: Nunito Semi;font-size: 14px;">Let's
                Talk</button></a>
          </div>
        </form>
      </div>

    </div>

  </div>

</div>