<div id="" class="" style="overflow: hidden;">

  <div class="container-fluid">

    <div class="row">

      <div style="position: relative;overflow: hidden;">

        <div style="position: relative;">
          <img src="assets/images/subscribe/rectangle_missing-01.png" class="subdiv" alt="sub-bg" width="100%">

          <div class="subscribe">

            <div class="align-self-center">
              <p class="subhead" style="font-family: Linotte-SemiBold;">Subscribe For Latest Updates</p>
              <p class="font-grey  subtrail" style="text-align: center;">Get Monthly Updates To Your Inbox.</p>
            </div>

            <div class="input-group mb-3 inputdiv">
              <input type="text" class="form-control gray subheight" name="Email"
                style="background-color:#dbdbdb;border-radius: 150px 0px 0px 150px;" placeholder="Email"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary input-group-append subheight" type="submit" value="SubmitSubscribe"
                  style="background-color: #3e9ffe;width:15vw;border-radius: 0px 150px 150px 0px;" type="button"
                  id="button-addon2">

                  <div class="font-white subfont" style="font-family: Linotte-SemiBold;width: 100%;">Subscribe <i
                      class="fab fa-telegram-plane"></i></div>

                </button>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>